<h1 class="project-banner" style="font-weight: 400;">
  My Alerts <small style="text-transform: none;"><%= Date.today.strftime("%A, %B %e") %></small>
</h1>

<table class="table">
  <tbody>
    <% @alerts.each do |alert| %>
      <tr class="houston-alert" id="alert_<%= alert.id %>">
        <td class="houston-alert-project">
          <% if alert.project -%>
            <b class="label <%= alert.project.color %>">
            <%= alert.project.slug %>
            </b>
          <% end -%>
        </td>
        <td class="houston-alert-type"><%= icon_for_alert alert %></td>
        <td class="houston-alert-summary"><%= link_to alert.summary, alert.url, target: "_blank" %></td>
        <td class="houston-alert-deadline time"><%= format_alert_deadline(alert) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
