<% @alerts.each do |alert| %>
  <tr class="houston-alert" id="alert_<%= alert.id %>">
    <td class="houston-alert-project">
      <% if alert.project -%>
        <b class="label <%= alert.project.color %>">
        <%= alert.project.slug %>
        </b>
      <% end -%>
    </td>
    <td class="houston-alert-type"><%= icon_for_alert alert %></td>
    <td class="houston-alert-number"><%= alert.number %></td>
    <td class="houston-alert-summary"><%= link_to alert.summary, alert.url, target: "_blank" %></td>
    <td class="houston-alert-countdown"><span class="countdown" data-secondsleft="<%= alert.seconds_remaining %>"></span></td>
    <td class="houston-alert-user"><%= avatar_for(alert.checked_out_by, size: 26) %></td>
    <td class="houston-alert-committed">
      <% if pull_request = alert.pull_requests.first %>
        <%= link_to pull_request.url, target: "_blank" do %>
          <span class="octicon octicon-git-pull-request" style="min-width: 32px;"></span>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
