<h1>Alerts</h1>

<span class="label" id="alerts_count">0</span>

<table id="alerts"></table>

<div id="alerts_graph"></div>

<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var $alerts = $('#alerts'),
        format = d3.format('02d'),
        $countdowns, $countdown, urgent, label, timeleft, seconds, minutes, hours, days,
        limit = <%= @limit %>,
        formatMinutes;

    function updateCountdowns() {
      $countdowns = $countdowns || $('.countdown');
      urgent = false;
      $countdowns.each(function() {
        $countdown = $(this);
        timeleft = +$countdown.attr('data-secondsleft') - 1;
        $countdown.attr('data-secondsleft', timeleft);
        seconds = Math.abs(timeleft);
        minutes = Math.floor(seconds / 60);
        hours = Math.floor(minutes / 60);
        days = Math.floor(hours / 24);

        label = format(seconds % 60);
        formatMinutes = (seconds < 3600) ? Math.floor : format;
        if(minutes >= 1) label = formatMinutes(minutes % 60) + ':' + label;
        if(hours >= 1) label = Math.floor(hours % 24) + ':' + label;
        if(days >= 1) label = '<span class="label">' + Math.floor(days) + 'd</span> ' + label;
        if(timeleft < 0) label = '<span class="late">+ ' + label + '</span>';
        $countdown.html(label);
        $countdown.closest('tr').toggleClass('late', timeleft < 0);

        if(timeleft < 1800) urgent = true; // less than 30 minutes to go or late
      });
      $('body').toggleClass('red', urgent);
    }

    function renderAlerts(data) {
      $('#alerts').html(HandlebarsTemplates['houston/alerts/dashboard'](data));
      $('body').toggleClass('green', data.count == 0);
      $('#alerts_count').html(data.count);
      $('title').html('Alerts (' + data.count + ')')
      graph.data(data.graph).render();

      $countdowns = null;
      updateCountdowns();
    }

    setInterval(updateCountdowns, 1000);

    new Refresher()
      .container('#container')
      .interval(45 * 1000) // 45 seconds
      .callback(function() {
        $.get('/alerts/dashboard', {limit: limit}).done(renderAlerts);
      }).render();

    var graph = new Houston.StackedBarGraph()
      .selector('#alerts_graph')
      .labels(<%= raw @alerts_labels.to_json %>)
      .colors(<%= raw @alerts_colors.to_json %>)
      .axes([])
      .legend(false)
      .height(80)
      .width(900) // just for when developer tools are open
      .margin({top: 0, right: 0, bottom: 0, left: 0})
      .render();

    renderAlerts({
      alerts: <%=raw Houston::Alerts::AlertPresenter.new(@alerts).to_json %>,
      count: <%= @count %>,
      graph: <%= raw @alerts_data.to_json %>
    });
  });
</script>
<% end %>
