<% content_for :title do %>
<h1 class="project-banner space-below">
  <span class="light"><%= @alerts.count %></span> Alerts

  <%= render partial: "projects/keyboard_shortcuts" %>
  <%= link_to alerts_excel_path, id: "excel_export_button", class: "project-banner-btn" do %>
    <i class="fa fa-file-excel-o"></i>

    <span>
      Export<br />
      to Excel
    </span>
  <% end %>
</h1>
<% end %>

<div id="alerts" class="nomargin">
  <table id="unsuppressed_alerts" class="table table-sortable table-striped table-hoverable">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="houston-alert-project" data-attribute="projectSlug">Project</th>
        <th class="houston-alert-type" data-attribute="type">Type</th>
        <th class="houston-alert-number" data-attribute="type">Number</th>
        <th class="houston-alert-summary" data-attribute="summary">Summary</th>
        <th class="houston-alert-deadline sort-asc" data-attribute="deadline">Deadline</th>
        <th class="houston-alert-worker" data-attribute="checkedOutBy">Worker</th>
        <th class="houston-alert-suppress"></th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  
  <hr>
  <h4>Suppressed</h4>
  
  <table id="suppressed_alerts" class="table table-striped table-hoverable">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="houston-alert-project" data-attribute="projectSlug">Project</th>
        <th class="houston-alert-type" data-attribute="type">Type</th>
        <th class="houston-alert-number" data-attribute="type">Number</th>
        <th class="houston-alert-summary" data-attribute="summary">Summary</th>
        <th class="houston-alert-deadline sort-asc" data-attribute="deadline">Deadline</th>
        <th class="houston-alert-worker" data-attribute="checkedOutBy">Worker</th>
        <th class="houston-alert-suppress"></th>
        <td class="table-margin"></td>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
    $(function() {
      var alerts = new Houston.Alerts.Alerts(<%= raw Houston::Alerts::AlertPresenter.new(@alerts).to_json %>);
      new Houston.Alerts.AlertsView({
        el: document.getElementById('alerts'),
        alerts: alerts,
        projects: <%= raw Houston::Alerts::ProjectPresenter.new(
          ::Project.unretired).to_json %>,
        workers: <%= raw Houston::Alerts::WorkerPresenter.new(
          Houston::Alerts.config.workers).to_json %>
      }).render();
    });
  </script>
<% end %>
